@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/title';
@import 'blocks/flags';
@import 'blocks/header';
@import 'blocks/prengi';
@import 'blocks/branch';
@import 'blocks/adv';
@import 'blocks/safe';
@import 'blocks/begin';
@import 'blocks/footer';

