.agent {
    padding-top: 57px;
    margin-top: 50px;
    background: url('../../img/bg/bg2.png') center center/cover no-repeat;
    height: 342px;
    &__icon {
        display: block;
        margin: 0 auto;
    }
    &__head {
        margin-top: 20px;
        color: #fff;
        text-align: center;
    }
    &__body {
        margin: 20px auto;
        color: #fff;
        text-align: center;
        max-width: 984px;
    }
}