.footer {
    padding-top: 50px;
    background-color: #25333c;
    min-height: 150px;
    margin-top: -10px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__descr {
        color: #ffffff;
        margin-right: 250px;
    }
}