.header {
    position: relative;
    padding-top: 25px;
    background: url('../../img/bg/bg1.png') center center/cover no-repeat;
    height: 680px;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo {
        margin-right: 55px;
    }
    &__items {
        display: flex;
        margin-right: 50px;        
    }
    &__item {
        display: inline-block;
        margin-right:  15px;
        border-right: 1px groove white ;
        list-style-type: none;
        &:last-child {
            border-right:none;
        }     
    } 
    &__link {
        margin-right: 15px;
        color: #ffffff;
        &:hover {
            text-decoration: none;
            color: #ec644b;
            border-bottom:1px solid #ec644b;
            padding-bottom: 2px;
        }
    }
    &__phone {
        margin-right: 20px;
    }
    &__descr {
        color: #ffffff;
    }
    &__number {
        color: #ffffff;
        &:hover {
            text-decoration: none;
            color: #ec644b;
            border-bottom:1px solid #ec644b;
            padding-bottom: 2px;
        }
    }
    &__btn {
        width: 160px;
        border-radius: 50px;
        border: none;
        height: 45px;
        background-color: #ec644b;
        text-transform: uppercase;
        color: #ffffff;
        &:hover {
            box-shadow: 4px 4px 22px#ec644b;
        }
    }
    &__about {
        margin-top: 58px;
        text-align: center;
    }
    &__about1 {
        color: #ffffff;

    }
    &__about2 {
        margin-top: 10px;
        text-transform: uppercase;
        color: #ec644b;
        
    }
    &__about3 {
        text-transform: uppercase;
        color: #ffffff;
        line-height:20px;
    }
    .divider{
        margin: 38px auto;
        border-top: 1px groove white;
        width: 800px;
        position: relative;
    }
    &__wrapp {
        margin-top: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__block {
        margin: 20px;
        width: 260px;
        height: 85px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__text {
        color:white;
        text-align: center;
    }
    &__btn2 {
        margin: 50px auto;
        display: block;
        width: 230px;
        border-radius: 50px;
        border: none;
        height: 57px;
        background-color: #ec644b;
        text-transform: uppercase;
        color: #ffffff;
        &:hover {
            box-shadow: 4px 4px 22px#ec644b;
        }
    }
}