.prengi {
    padding-top: 80px;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__block {
        position: relative;
        margin: 0px 15px;

    }
    &__descr {
        display: block;
        position: absolute;
        top: 180px;
        right: 60px;
        font-size: 18px;
        font-weight: 300;
        color: #393939;
        text-align: center;
        width: 234px;
    }
    &_fat {
        font-weight: 700;
    }
    &__arrow {
        display: block;
        margin: 40px auto 0px auto;
        width: 169px;
        height: 50px;
    }
    &__title {
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 700;
        color: #393939;
        text-align: center;
    }
    &__wrapper2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}