.price {
    padding-top: 50px;
    &__wrapper {
        display: grid;
        grid-template: minmax(357px, auto) / repeat(4, 267px);
        column-gap: 25px;
    }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__head {
        width: 261px;
        height: 61px;
        padding: 18px;
        text-align: center;
        background-color: #25333c;
        color: #fff;
        text-transform: uppercase;
    }
    &__icon {
        margin-top: 15px;
    }
    &__descr {
        margin-top: 10px;
    }
    &__num {
        color:$main-color;
    }
    &__about {
        margin-top: 20px;
        text-align: center;
        max-width: 234px;
    }
    &__btn {
        margin-top: 25px;
    }
}